<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name=viewport content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta property="og:image" content="">
<meta name=description content=""/>
<title>YellowDog | Orlando FL Web Design, Branding, Marketing</title>

<!--include in-line crtical css (get sass and process into css)-->
<style>
	{% asset_source critical.css %}
</style>

<!--loadCSS v1.3.1 - script for asynchronous loading of non-critical css--> 
<script>
	{% asset_source vendor/loadCSS.min.js %}
</script>

<!--load the non-critical css asynchronously-->
<script>
    loadCSS("{% asset_path noncritical.css %}");
</script>
<noscript><link href="{% asset_path noncritical.css %}" rel="preload" as="style"></noscript>

<script>
	// check if cookie exists and if so go ahead and apply the fonts-loaded class to html. would be better to check for cookie with php or SSI expr
	// and use an if/then to write alternative html tags, one with the class and one without. this javascript option is for static sites like github-pages
	if ( document.cookie.match(/^(.*;)?fonts-loaded=[^;]+(.*)?$/) ) {document.documentElement.className += ' fonts-loaded';}
</script>
