{% include head.html %}
</head>
<body>
<div class="yd-page">
	<div class="yd-container">
		<header>
			<h1>H1 Header Element</h1>
		</header>
		<nav>
		  <a href="">Link</a> |
		  <a href="">Link</a> |
		  <a href="">Link</a> |
		  <a href="">Link</a>
		</nav>
	</div>
	<div class="yd-container yd-container__fullwidth">
		<div class="yd-container"> 
			<article class="grid-width-12">
				<p>This is a full width container with an article element</p>
			</article>
		</div>
	</div>
	<div class="yd-container">
		<section>
		  <h1>H2: Section Element</h1>
		  <p>According to W3C's HTML5 documentation: A section is a thematic grouping of content, typically with a heading. A home page could normally be split into sections for introduction, content, and contact information.</p>
			
			<article>
				<header>
					<h2>H2: Header Element Inside Article</h2>
					<p>Some header paragraph text.</p>
				</header>
				
				<p>The article element specifies independent, self-contained content.</p>
				<p>An article should make sense on its own, and it should be possible to read it independently from the rest of the web site.</p>
				<p>Examples of where an article element can be used:</p>
					<ul>
						<li>Forum post</li>
						<li>Blog post</li>
						<li>Newspaper article</li>
					</ul>
				<h3>H3 Heading</h3>
				<h4>H4 Heading</h4>
				<h2 class="yd-text-paragraph yd-margin-bottom-remove">This is a heading but with the paragraph font-family.</h2>
				<p>We specialize in web design, graphic design, and online marketing.</p>
				<p><a href="" class="yd-button">Sample Button</a></p>
				<p>The images in the following list utilize deferred loading so they don't prevent the page from loading while they download. The script is located right before the end body tag.</p>
				<ul>
					<li><img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" 
							 data-src="http://unsplash.it/3000x2000" alt="Image description"></li>
					<li><img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" 
							 data-src="http://unsplash.it/3500x2333" alt="Image description"></li>
					<li><img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" 
							 data-src="http://unsplash.it/2000x1333" alt="Image description"></li>
					<li><img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" 
							 data-src="http://unsplash.it/3200x2133" alt="Image description"></li>
					<li><img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" 
							 data-src="http://unsplash.it/2800x1866" alt="Image description"></li>
					<li><img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" 
							 data-src="http://unsplash.it/2900x1933" alt="Image description"></li>	

				</ul>
			</article>
			<aside>
				<h3>H3 Aside Element</h3>
				<p>The aide element defines some content aside from the content it is placed in (like a sidebar).</p>
				<p>The aside content should be related to the surrounding content.</p>
				<ul>
					<li><img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" 
							 data-src="http://unsplash.it/1500x1000" alt="Image description"></li>
					<li><img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" 
							 data-src="http://unsplash.it/1750x1150" alt="Image description"></li>
					<li><img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" 
							 data-src="http://unsplash.it/1000x652" alt="Image description"></li>
					<li><img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" 
							 data-src="http://unsplash.it/1600x1000" alt="Image description"></li>
					<li><img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" 
							 data-src="http://unsplash.it/1400x900" alt="Image description"></li>
					<li><img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" 
							 data-src="http://unsplash.it/1459x900" alt="Image description"></li>	

				</ul>
			</aside>
		</section>
		<footer>
			<h3>H3 Footer Element</h3>
			<p>The footer element specifies a footer for a document or section.</p>
			<p>A  footer element should contain information about its containing element.</p>
			<p>A footer typically contains the author of the document, copyright information, links to terms of use, contact information, etc.</p>
			<p>You may have several footer elements in one document.</p>
			</p>
		</footer>
	</div>

</div>
{% include end.html %}